* {margin: 0; padding: 0;}

i {
    display: inline-block;
    width: 50px;
    height: 50px;
    color: red;
}

.bSync {
    background: url('Icons/sync.svg');
}

.bUp {
    background-image: url('Icons/up.svg');
}

.bDown {
    background-image: url('Icons/down.svg');
}

.bSpring {
    background-image: url('Icons/spring.svg');
}

.piano_container{
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    font-size: 0;
    overflow-x:auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#octave{
    height: 150px;
    width: 300px;
    position: relative;
}

.blacks {
    position: relative;
    z-index: 1;
    height: 50%;
}

.whites {
    position: relative;
    top: -100%;
    z-index: 0;
    height: 100%;
}

span {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
}

.black-key,
.white-key,
.black-margin,
.black-left-margin {
    display: inline-block;
    position: relative;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow:0px 0px 0px 2px rgb(122, 122, 122) inset;
}

.white-key {
    height: 150%;
    width: calc(100% / 7);
    background: rgb(255, 255, 255);
}

.black-key {
    height: 100%;
    width: calc(calc(100% / 7) * 0.8);
    background: rgb(44, 44, 44);
    color: white;
}
.black-margin {
    width: calc(calc(100% / 7) * 0.1);
    background: rgb(235, 251, 0);
}
.black-left-margin {
    width: calc(calc(100% / 7) / 2);
    background: rgb(235, 251, 0);
}